.flex-container {
    display: flex;
    background-color: white;
}

.flex-container>div {
    background-color: #f1f1f1;
    margin-left:290px;
    margin-top: 40px;
    margin-right: 0px;
    padding: 10px;
    font-size: 30px;
}